<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USAC - CINEMA | ADMIN</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand text-white" href="{% url 'myAdmin:categoryMenu' %}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Usac_logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                USAC-Cinema
            </a>
            <div class="" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'auth:index' %}">Cerrar sesión</a>
                    </li>
                    
                </ul> 
            </div>
        </div>
    </nav>

    <div class="container mt-5 w-50">
        <div class="container-fluid border rounded-3 p-2 shadow">
            <p class="text-black fs-3 fw-bold text-center">Actualizar cine</p>
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control h-25" id="floatingName" placeholder="Nombre" name="name">
                            <label for="floatingName">Nombre</label>                        
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning text-white">Actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>