<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USAC - CINEMA | USUARIO</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand text-white" href="{% url 'client:index' %}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Usac_logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                USAC-Cinema
            </a>
            <div class="" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'auth:index' %}">Cerrar sesión</a>
                    </li>
                    
                </ul> 
            </div>
        </div>
    </nav>

    <div class="container mt-3 w-auto">
        <p class="fs-2 text-black">¡Selecciona tu categoría favorita!</p>
    </div>

    {% if ListaCategoria %}
    <div class="container accordion mt-3 mb-3 w-auto" id="accordionExample">
            {% for categoria in ListaCategoria %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne" name="{{ forloop.counter }}">
                        {{ categoria.name }}
                      </button>
                    </h2>
                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                            <table class="table table-striped shadow">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center">Titulo</th>
                                        <th scope="col" class="text-center">Director</th>
                                        <th scope="col" class="text-center">Año</th>
                                        <th scope="col" class="text-center">Fecha</th>
                                        <th scope="col" class="text-center">Hora</th>
                                        <th scope="col" class="text-center">Precio</th>
                                        <th scope="col" class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                {% for movie in categoria.movies  %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td class="text-center">{{ movie.title }}</td>
                                            <td class="text-center">{{ movie.director }}</td>
                                            <td class="text-center">{{ movie.year }}</td>
                                            <td class="text-center">{{ movie.date }}</td>
                                            <td class="text-center">{{ movie.time }}</td>
                                            <td class="text-center">{{ movie.price }}</td>
                                            <td class="text-center">
                                                <a class="nav-link m-0 p-0" href="{% url 'client:favoriteMovie' categoria.name forloop.counter %}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#DB3A34" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if ListaFavMovie %}
        <div class="container mt-2 mb-4 h-25 w-50">
            <div class="row">
                <div class="col">
                    <p class="fs-2 text-black">¡Tus películas favoritas!</p>
                </div>
                <div class="col">
                    <div id="carouselExampleControls" class="carousel slide shadow" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for favMovie in ListaFavMovie  %}
                                {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <img src="{{ favMovie.image }}" class="d-block w-100" alt="{{ favMovie.title }}">
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <img src="{{ favMovie.image }}" class="d-block w-100" alt="{{ favMovie.title }}">
                                    </div>
                                {% endif %}
                            {% endfor %}  
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-3 w-auto">
            <p class="fs-2 text-black">¡Aún no tienes películas favoritas agregadas!</p>
        </div>
    {% endif %}

</body>
</html>